/* container */

.container {
    background: var(--gradiente);
}

.container__primeiro--texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

    .container__primeiro--imagem {
        width: 33rem;

        
    }

.container__primeiro {
    padding: 6.4rem 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    
    
}

.container__primeiro--texto h1 {
    font-family: Krona One;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 3.2rem;
}

.container__primeiro--texto h1 span {
    color: var(--azul-escuro);
}

.container__primeiro--texto-botao {
    width: 31.8rem;
    height: 6.6rem;
    color: white;
    border: none;
    border-radius: 6.6rem;
    background: var(--azul-botao);
    font-size: 2.4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0 auto;
}

.container__primeiro--texto-botao:hover {
    background: var(--lilas-escuro);
    transition: .5s;
    cursor: pointer;
}

.container__primeiro--imagem {
    width: 29.7rem;
    height: 38.4rem;
    align-self: end;
}


@media screen and (min-width: 601px) and (max-width:900px) {
    /* Tablet */

    .container__primeiro {
        align-items: center;
        text-align: start;
        padding: 6.4rem 6rem;
    }

    .container__primeiro--texto {
        width: 100%;
    }

    .container__primeiro--texto h1 {
        font-size: 4.2rem;
    }

    .container__primeiro--texto-botao {
        width: 28rem;
    }

    .container__primeiro--imagem {
        width: 33.2rem;
        height: 45.8rem;
        align-self: center;
        margin: 3rem auto;
    }

    
}

@media screen and (min-width:901px){

    /* Desktop */

   .container__primeiro {
    max-width: 1200px;  
    margin: 0 auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
      
    
    
}

.container__primeiro--texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    
}

.container__primeiro--texto h1 {
    font-size: 5rem;
}

.container__primeiro--texto-botao {
    margin: 0;
}


}